@model List<Book>
@{
    int counter = 0;
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.0/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="container">
    <div class="d-flex" style="justify-content: space-around; align-items:center">
        <h1>Books</h1>
        <a class="btn btn-success" asp-action="Create" asp-controller="book">Create</a>
    </div>


    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">SalePrice</th>
                <th scope="col">Code</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                counter++;
                <tr>

                    <th scope="row">@counter</th>
                    <td>@Model[i].Id</td>
                    
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Description</td>
                    <td>@Model[i].SalePrice</td>
                    <td>@Model[i].Code</td>
                    <td>
                        <a class="btn btn-primary" asp-action="edit" asp-controller="book" asp-route-id="@Model[i].Id">Edit</a>
                    </td>
                    <td>

                        <a class="btn btn-danger delete-button" asp-action="delete" asp-controller="book" asp-route-id="@Model[i].Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.0/sweetalert2.min.js" integrity="sha512-IYzd4A07K9kxY3b8YIXi8L0BmUPVvPlI+YpLOzKrIKA3sQ4gt43dYp+y6ip7C7LRLXYfMHikpxeprZh7dYQn+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 }